[submodule "part3"]
	path = part3
	url = git@github.com:leothatidiot/part3.git
[submodule "course-contents/part3"]
	path = course-contents/part3
	url = git@github.com:leothatidiot/part3.git
[submodule "part3/.\\Phonebook-backend\\"]
	path = part3/.\\Phonebook-backend\\
	url = git@github.com:leothatidiot/Phonebook-backend.git
